{% extends "admin.html" %}
{% import "_macros.html" as macros %}

{% block style %}
{{ super() }}
<style>

</style>
{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}


{% block content %}

    <div class="col-md-10">
        <table class="table table-striped">
            <caption>科室列表</caption>
            <thead>
            <tr>
                <th>名字</th>
            </tr>
            </thead>
            <tbody>
            {% for dpart in departments %}
            <tr>
                <td>{{ dpart.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, 'main.doctor_list') }}
            </div>
        {% endif %}
    </div>


{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}