{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>

{% if current_user.is_administrator() %}
    <ul class="users">
        {% for user in users %}
            {% if not user.username == current_user.username%}
                <li class="user">
                    <div class="user-content">
                        <div class="user-name">{{ user.username }}</div>
                        <div class="user-email">{{ user.email }}</div>
                    </div>
                </li>

                <a class="btn btn-default btn-xs" href="{{ url_for('.delete_user',id = user.id) }}">delete</a>

            {% endif %}

        {% endfor %}
    </ul>
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
{% endif %}

{% endif %}



{% endblock %}
